<ion-header>
  <ion-toolbar>
    <ion-title>Livro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editLivroForm" (ngSubmit)="salvarLivro()">
    <ion-item>
      <ion-label position="floating">Capa</ion-label>
      <ion-grid>
        <ng-container *ngIf="srcImg">
          <ion-row>
            <ion-col size="12" class="ion-align-items-center">
              <ion-img [src]="srcImg"></ion-img>
            </ion-col>
          </ion-row>
        </ng-container>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-button color="primary" (click)="upload()" fill="clear">
              Upload
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ano</ion-label>
      <ion-input formControlName="ano" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Paginas</ion-label>
      <ion-input formControlName="paginas" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nota</ion-label>
      <ion-select formControlName="nota" interface="action-sheet" cancelText="Cancelar">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Resumo</ion-label>
      <ion-textarea formControlName="resumo" type="text" rows="5"></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button color="primary" type="submit" [disabled]="editLivroForm.invalid" fill="clear">
          Salvar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>