<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Simple Books
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="exibirAutores">
    <ng-container *ngIf="( autores | async ) as autores">

      <ng-container *ngIf="autores.length == 0">
        <ion-row class="ion-padding">
          <ion-col size="12" class="ion-text-center">
            <ion-label><strong>Nenhum Autor Cadastrado. Deseja adicionar o primeiro autor?</strong></ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-button (click)="adicionarAutor()" fill="clear" size="large">
              <ion-icon color="primary" slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ng-container>

      <!-- Lista de autores cadastrados -->
      <ng-container *ngIf="autores.length > 0">
        <ion-list-header>
          <ion-title><strong>Autores</strong></ion-title>
          <ion-button (click)="adicionarAutor()" fill="clear">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-list-header>
        <ion-list *ngFor="let autor of autores">
          <ion-item>
            <ion-label (click)="carregarDetalhesAutor(autor)">{{ autor.nome }}</ion-label>
            <ion-button (click)="deletarAutor(autor)" fill="clear">
              <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="editarAutor(autor)" fill="clear">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Detalhes do autor selecionado e lista de seus livros -->
  <ng-container *ngIf="exibirDetalheAutor">
    <ion-card-header class="ion-text-center">
      <ion-button (click)="voltarListaAutores()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-card-title><strong>{{ autor.nome }}</strong></ion-card-title>
    </ion-card-header>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="12">
          <ion-label><strong>Data de Nascimento</strong></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>{{ autor.dataFormatada }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label><strong>Biografia</strong></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>{{ autor.biografia }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-list-header class="ion-text-start">
        <ion-title><strong>Livros</strong></ion-title>
        <ion-button (click)="adicionarLivro(autor)" fill="clear">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ng-container *ngIf="( livros | async ) as livros">
        <ion-list *ngFor="let livro of livros">
          <ion-item>
            <ion-label (click)="carregarDetalhesLivro(livro)">{{ livro.titulo }}</ion-label>
            <ion-button (click)="deletarLivro(livro)" fill="clear">
              <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="editarLivro(livro)" fill="clear">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ng-container>
    </ion-card>
  </ng-container>

  <!-- Detalhes do livro selecionado -->
  <ng-container *ngIf="exibirDetalheLivro">
    <ion-card-header class="ion-text-center">
      <ion-button (click)="voltarDetalhesAutor()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-card-title><strong>{{ livro.titulo }}</strong></ion-card-title>
    </ion-card-header>
    <ion-grid class="ion-padding">
      <ng-container *ngIf="livro.capa">
        <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col size="6">
            <ion-img src="{{ livro.capa }}"></ion-img>
          </ion-col>
          <ion-col size="3">
          </ion-col>
        </ion-row>
      </ng-container>
      <ion-row>
        <ion-col size="12">
          <ion-label><strong>Ano</strong></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>{{ livro.ano }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label><strong>Páginas</strong></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>{{ livro.paginas }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label><strong>Nota</strong></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>{{ livro.nota }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label><strong>Resumo</strong></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>{{ livro.resumo }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>