<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Simple Books
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="adicionarAutor()" shape="round">
    Adicionar Autor
  </ion-button>

  <ng-container *ngIf="( autores | async ) as autores">
    <ion-list-header>
      <ion-title class="ion-text-center">Autores</ion-title>
    </ion-list-header>
    <ion-list *ngFor="let autor of autores">
      <ion-card>
        <ion-card-title class="ion-text-center">{{ autor.nome }}</ion-card-title>
        <ion-item>
          <ion-label><strong>Data de Nascimento:</strong> {{ autor.dataNascimento }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Biografia:</strong> {{ autor.biografia }}</ion-label>
        </ion-item>
        <ion-button (click)="deletarAutor(autor.id)" fill="clear">
          <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="editarAutor()" fill="clear">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-list>
  </ng-container>
</ion-content>